<!doctype html>
<html class="no-js" lang="zxx">
<head>
  <title>Home | Bookshop Responsive Bootstrap4 Template</title>
	<meta name="description" content="">
	<% include layout/head.ejs %>
</head>
<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
    <% include layout/header.ejs %>
      <!-- Start Bradcaump area -->
      <div class="ht__bradcaump__area bg-image--4">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="bradcaump__inner text-center">
                          <h2 class="bradcaump-title">Shop Single</h2>
                          <nav class="bradcaump-content">
                            <a class="breadcrumb_item" href="index.html">Home</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb_item active">Shop Single</span>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        
   
<div class="container">
        <h2 style="text-align: center">Product List</h2>
        <p><a href="/add-product" class="btn btn-primary" style="float: right">Add Product</a></p> 
        <br><br><br><br>        
        <table border="1" class="table table-bordered">
          <thead>
            <tr>
              <th>product_name</th>
              <th>product_dis_price</th>
              <th>available_quantity</th>
              <th>product_picture</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
                <% if(products.length > 0){ %>
                    <% products.forEach(function(product){ %>
            <tr>
              <td><%= product.product_name %></td>
              <td><%= product.product_dis_price %></td>
              <td><%= product.available_quantity %></td>
              <td><img class="pic-1" src="./uploads/<%= product.product_picture %>" width="100" height="100"></td>
              <td>
                  <a href="/product-view/<%= product._id %>"><span class="glyphicon glyphicon-tree-deciduous"></span>View</a>
                  <a href="/product-edit/<%= product._id %>"><span class="glyphicon glyphicon-edit"></span>Edit</a>
                  <a href="/product-delete/<%= product._id %>"><span class="glyphicon glyphicon-trash"></span>Delete</a>
              </td>
            </tr>
            <% }); %>
            <% }else{ %>
                <h1>Product Unavailable</h1>
            <% } %>
          </tbody>
        </table>
      </div>

      <% include layout/footer.ejs %>
    </div>
  </body>
  </html>